# List of requirements to start the timeseries project. Python 3.10 is assumed to already be installed beforehand.

numpy==2.1.2
wandb==0.21.0
matplotlib==3.10.3
pandas==2.3.0
scikit-learn==1.7.0
optuna==4.4.0
quadprog==0.1.13
seaborn==0.13.2

# For Linting
ruff==0.12.1

# pytorch
torch==2.6.0+cu126
-f https://download.pytorch.org/whl/torch_stable.html
